<h1 class="page-title">User Profile Management</h1>
<div class="content">
<form class="form-harbor mt100 ">
<div class="row">
<div class="col-md-4">
<div class="img-uploader">
<input type="file">
<i class="icon icon-camera"></i>
<span class="upload-text">Upload a Photo</span>
<!-- <img src="assets/images/default-image.png"> -->
</div>
</div>
<div class="col-md-8">
<div class="row">
<div class="col-md-6">
<div class="form-group">
<div class="has-float-label">
<input type="text" placeholder="First Name" id="inputEmail" required autofocus />
<span class="label">First Name</span>
<div class="error-msg text-right">
This field is required.
</div>
</div>
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<div class="has-float-label error">
<input type="text" placeholder="Last Name" id="inputEmail" required autofocus />
<span class="label">Last Name</span>
<div class="error-msg text-right">
This field is required.
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-6">
<div class="form-group">
<div class="has-float-label">
<input type="text" placeholder="Primary Email" id="inputEmail" required autofocus />
<span class="label">Primary Email</span>
<div class="error-msg text-right">
This field is required.
</div>
</div>
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<div class="has-float-label">
<input type="text" placeholder="Phone" id="inputEmail" required autofocus />
<span class="label">Phone</span>
<div class="error-msg text-right">
This field is required.
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-6">
<div class="form-group">
<div class="has-float-label">
<input type="text" placeholder="Subdomain" id="inputEmail" required autofocus />
<span class="label">Subdomain</span>
<div class="error-msg text-right">
This field is required.
</div>
</div>
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<div class="has-float-label">
<input type="text" placeholder="Tenant Admin Email" id="inputEmail" required
autofocus />
<span class="label">Tenant Admin Email</span>
<div class="error-msg text-right">
This field is required.
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-6">
<div class="form-group">
<div class="has-float-label">
<input type="text" placeholder="Organization" id="inputEmail" required autofocus />
<span class="label">Organization</span>
<div class="error-msg text-right">
This field is required.
</div>
</div>
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<div class="has-float-label">
<ng-select [items]="title" class="harbor-select" [clearable]="false" name="dropdown">
</ng-select>
<span class="label">Title</span>
<div class="error-msg text-right">
This field is required.
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-6">
<div class="form-group">
<div class="has-float-label">
<input type="text" placeholder="Address" id="inputEmail" required autofocus />
<span class="label">Address</span>
<div class="error-msg text-right">
This field is required.
</div>
</div>
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<div class="has-float-label">
<ng-select [items]="city" class="harbor-select" [clearable]="false" name="dropdown">
</ng-select>
<span class="label">City</span>
<div class="error-msg text-right">
This field is required.
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-6">
<div class="row">
<div class="col-md-6">
<div class="form-group">
<div class="has-float-label">
<ng-select [items]="state" class="harbor-select" [clearable]="false"
name="dropdown">
</ng-select>
<span class="label">State</span>
<div class="error-msg text-right">
This field is required.
</div>
</div>
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<div class="has-float-label">
<input type="text" placeholder="Zip Code" id="inputEmail" required autofocus />
<span class="label">Zip Code</span>
<div class="error-msg text-right">
This field is required.
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</form>
</div>
