<header>
  <div class="gosend-container">
    <nav class="navbar sticky-top flex-md-nowrap shadow">
      <a class="navbar-brand" href="#">
        <img src="assets/images/logo.png" alt="logo" />
      </a>
      <button class="navbar-toggler d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu"
        aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
      <div class="logout">
          <a href="javascript:void(0)" (click)="onLogOut()">Sign out</a>
      </div>
    </nav>
  </div>
</header>
