<!-- <div class="auth-page">
	<div class="auth-container">
		<div class="logo">
			<img class="mb-4" src="assets/images/logo.svg" alt="logo" />
		</div>
		<form role="form" class="auth-form form-resetpassword" [formGroup]="UpdatePasswordForm" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<div class="has-float-label">
					<i class="icon fa fa-envelope"></i>
					<input type="password" formControlName="password" id="inputPassword" />
					<span>Password</span>
                </div>
                <div class="has-float-label">
					<i class="icon fa fa-envelope"></i>
					<input type="password" formControlName="repassword" id="inputRePassword" />
					<span>Repeat</span>
				</div>
			</div>
			<button class="btn btn-streamharbor btn-block" type="submit" >Update</button>
		</form>
	</div>
</div> -->


<div class="auth-page">
	<div class="auth-container">
		<div class="logo">
			<img class="mb-4" src="assets/images/logo.svg" alt="logo" />
		</div>
		<ng-container *ngIf="isTokenValid; else elseBlock">
			<form class="auth-form form-signin" [formGroup]="UpdatePasswordForm">
				<div class="form-group">
					<div class="has-float-label">
						<i class="icon fa fa-envelope"></i>
						<input type="text" placeholder="Username" id="userName" formControlName="userName" required
							autofocus />
						<span>Username</span>
					</div>
				</div>
				<div class="error-msg text-right"
					*ngIf="userName.touched && userName.invalid && userName.errors.required">
					This field is required.
				</div>
				<div class="form-group">
					<div class="has-float-label">
						<i class="icon fa fa-unlock-alt"></i>
						<input type="password" placeholder="Password" id="password" formControlName="password"
							required />
						<span>Password</span>
					</div>
					<div class="error-msg text-right"
						*ngIf="password.touched && password.invalid && password.errors.required">
						This field is required.
					</div>
				</div>
				<div class="form-group">
					<div class="has-float-label">
						<i class="icon fa fa-unlock-alt"></i>
						<input type="password" placeholder="Confirm Password" id="confirmPassword"
							formControlName="confirmPassword" required />
						<span>Confirm-Password</span>
					</div>
					<div class="error-msg text-right"
						*ngIf="confirmPassword.touched && confirmPassword.invalid && confirmPassword.errors.required">
						This field is required.
					</div>
					<div class="error-msg text-right" *ngIf="confirmPassword?.errors?.match_value">
						* Confirm password does not match with password.
					</div>
				</div>
				<button class="btn btn-sharbor btn-block" type="button" (click)="onSubmit()">Go</button>
			</form>
		</ng-container>
		<ng-template #elseBlock>
			<div class="col-md-12 mx-auto text-center token-expired">
				<i class="icon fa fa-exclamation-triangle"></i>
				<h3>Token has been expired!</h3>
				<h4>Please contact the administrator for resending email.</h4>
			</div>
		</ng-template>
	</div>
</div>

