<h1 class="page-title">User Management</h1>
<div class="content">
	<div class="title-container mb20 mt10">
		<div class="btn-holder">
			<button type="button" class="btn btn-harbor" (click)="open(content)">
				New Client
			</button>
		</div>
	</div>
	<div class="table-responsive">
		<table class="table-harbor">
			<thead>
				<tr>
					<th scope="col">Company Name</th>
					<th scope="col">Name of Primary Contact</th>
					<th scope="col">Tenants's Subdomain</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td data-th="Company Name">Devfinity</td>
					<td data-th="Name of Primary Contact">Shawn Barber</td>
					<td data-th="Tenants's Subdomain">shawn.devfinity.com</td>
					<td data-th="Actions">
						<a class="icon-holder" href="javascript:void(0)" title="edit"><i
								class="icon icon-pencil-create"></i></a>
						<a class="icon-holder" href="javascript:void(0)" title="delete"><i
								class="icon icon-circle-block"></i></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<ng-template #content let-modal>
		<div class="modal-header">
			<h4 class="modal-title" id="modal-basic-title">
				Add New Client
			</h4>
			<ng-template #elseblock>
				<h4 class="modal-title" id="modal-basic-title">Update Client</h4>
			</ng-template>
		</div>
		<div class="modal-body">
			<form class="form-harbor">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<div class="has-float-label">
								<input type="text" placeholder="First Name" id="inputEmail" required autofocus />
								<span class="label">First Name</span>
								<div class="error-msg text-right">
									This field is required.
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<div class="has-float-label error">
								<input type="text" placeholder="Last Name" id="inputEmail" required autofocus />
								<span class="label">Last Name</span>
								<div class="error-msg text-right">
									This field is required.
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<div class="has-float-label">
								<input type="text" placeholder="Primary Email" id="inputEmail" required autofocus />
								<span class="label">Primary Email</span>
								<div class="error-msg text-right">
									This field is required.
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<div class="has-float-label">
								<input type="text" placeholder="Phone" id="inputEmail" required autofocus />
								<span class="label">Phone</span>
								<div class="error-msg text-right">
									This field is required.
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<div class="has-float-label">
								<input type="text" placeholder="Subdomain" id="inputEmail" required autofocus />
								<span class="label">Subdomain</span>
								<div class="error-msg text-right">
									This field is required.
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<div class="has-float-label">
								<input type="text" placeholder="Tenant Admin Email" id="inputEmail" required
									autofocus />
								<span class="label">Tenant Admin Email</span>
								<div class="error-msg text-right">
									This field is required.
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<div class="has-float-label">
								<input type="text" placeholder="Organization" id="inputEmail" required autofocus />
								<span class="label">Organization</span>
								<div class="error-msg text-right">
									This field is required.
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<div class="has-float-label">
								<ng-select [items]="title" class="harbor-select" [clearable]="false" name="dropdown">
								</ng-select>
								<span class="label">Title</span>
								<div class="error-msg text-right">
									This field is required.
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<div class="has-float-label">
								<input type="text" placeholder="Address" id="inputEmail" required autofocus />
								<span class="label">Address</span>
								<div class="error-msg text-right">
									This field is required.
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<div class="has-float-label">
								<ng-select [items]="city" class="harbor-select" [clearable]="false" name="dropdown">
								</ng-select>
								<span class="label">City</span>
								<div class="error-msg text-right">
									This field is required.
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<div class="has-float-label">
										<ng-select [items]="state" class="harbor-select" [clearable]="false"
											name="dropdown"></ng-select>
										<span class="label">State</span>
										<div class="error-msg text-right">
											This field is required.
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<div class="has-float-label">
										<input type="text" placeholder="Zip Code" id="inputEmail" required autofocus />
										<span class="label">Zip Code</span>
										<div class="error-msg text-right">
											This field is required.
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn modal-btn btn-cancel">
				Cancel
			</button>
			<button type="button" class="btn modal-btn btn-harbor">
				Save
			</button>
		</div>
	</ng-template>
</div>