<div class="container">
  <div class="title-container">
    <h1 class="page-title">Users</h1>

    <!-- *ngIf="hasAdmin" -->
    <div class="btn-holder" >
      <button type="button" class="btn btn-primary" (click)="open(content)">
        Add Users
      </button>
    </div>
  </div>
  <div class="content">
    <div class="tab-container_margin">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">S.N</th>
              <th scope="col">UserName</th>
              <th scope="col">Email</th>
              <th scope="col">Phone Number</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Role</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let company of companies;let i = index">
              <td>{{i+1}}</td>
              <td data-th="IsActive ">{{company.userName}}</td>
              <td data-th="UpdateDate ">{{company.email}}</td>
              <td data-th="CreateDate ">{{company.phoneNumber}}</td>
              <td data-th="Company Name">{{company.firstName}}</td>
              <td data-th="IsActive ">{{company.lastName}}</td>
              <td data-th="IsActive ">{{company.role}}</td>
              <td data-th="IsActive ">{{company.status}}</td>
              <td data-th="Actions">
                <a (click)="EditData(content, company)"  class="icon-holder" *ngIf="hasAdmin" href="javascript:void(0)" title="edit"><i
                    class="icon icon-pencil-create"></i></a>
                <span *ngIf="hasAdmin">|</span>
                <a class="icon-holder" (click)="Delete(company.id)" href="javascript:void(0)" title="delete"><i
                    class="icon icon-circle-block" *ngIf="hasAdmin"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <ng-template #content let-modal>
      <div class="container">
      <form class="form-horizontal" [formGroup]="UserForm" (ngSubmit)="onSubmit()">

        <div class="row">

          <div class="col-sm-6">

            <div class="form-group" *ngIf="!isEdit">
           
              <label for="fname">Username: </label>
              <input type="text" formControlName="userName" class="form-control" placeholder="User Name"  >
            </div>

            <div class="form-group">

              <label for="fname">First Name: </label>
              <input type="text" formControlName="firstName" class="form-control" placeholder="First Name">
            </div>

            <div class="form-group">

              <label for="lname">Last Name: </label>
              <input type="text" formControlName="lastName" class="form-control" placeholder="Last Name">
            </div>
            <div class="form-group" *ngIf="!isEdit">

              <label for="email">Email: </label>
              <input type="email" formControlName="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group" *ngIf="!isEdit">

              <label for="cemail" >Confirm Email: </label>
              <input type="email" formControlName="confirmEmail" class="form-control" placeholder="Confirm Email">
            </div>
            <div class="form-group" >
            </div>
           
          </div>
          <div class="col-sm-6">
            <div class="form-group" *ngIf="!isEdit">

              <label for="password">Password </label>
              <input type="password" formControlName="password" class="form-control" placeholder="Password">
            </div>

            <div class="form-group" *ngIf="!isEdit">

              <label for="cpassword">Confirm Password </label>
              <input type="password" formControlName="confirmPassword" class="form-control"
                placeholder="Confirm Password">
            </div>
            <div class="form-group">

              <label for="phonenmber">Phone Number</label>
              <input type="text" formControlName="phoneNumber" class="form-control" placeholder="Phone Number">
            </div>

            <div class="form-group">
              <label for="Tenant">Tenant:</label>
              <select formControlName="tenantId" class="form-control" (change)="changetenant($event)">
                <option disabled>Select Tenant</option>
             
                <option *ngFor="let tenant of tenants" value={{tenant.tenantId}}>{{tenant.organizationName}}</option>
              </select>
            </div>
            <!-- {{UserForm.value|json}} -->

          
            <div class="form-group">
              <label for="Role">Role:</label>
              <select formControlName="roleId" class="form-control" (change)="changerole($event)">
                <option disabled>Select Role</option>
             
                <option *ngFor="let role of roles" value={{role.roleId}}>{{role.roleName}}</option>
              </select>
            </div>

            <!-- <div class="form-group">
              <label for="website">Role:</label>
              <select formControlName="roleName" class="form-control" (change)="changeWebsite($event)">
                <option disabled>Select Role</option>
                <option>Choose Role</option>
                <option *ngFor="let web of websiteList">{{web}}</option>
              </select>
            </div> -->

          </div>
          <button type="submit" class="btn btn-primary">{{EventValue}}</button>
          <button type="button" class="btn btn-info" (click)="modal.close('Close Button Clicked')">
            <i class="fa fa-times"></i> Cancel
          </button>
        </div>
      </form>
    </div>
    </ng-template>