<div class="auth-page">
	<div class="auth-container">
		<div class="logo">
			<img class="mb-4" src="assets/images/logo.svg" alt="logo" />
		</div>
		<form role="form" class="auth-form form-signin" [formGroup]="RequestPasswordForm" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<div class="has-float-label">
					<i class="icon fa fa-envelope"></i>
					<input type="email" formControlName="email" placeholder="email@example.com" id="inputEmail" />
					<span>Enter your Email</span>
				</div>
			</div>
			<button class="btn btn-gosend btn-block" type="submit" >Go</button>
			<a href="[/login]" class="forgot-pwd">Back to Login</a>
		</form>
	</div>
</div>